@use "variables" as *;

@mixin container($mw: $maxw) {
  max-width: $mw;
  margin: 0 auto;
}

@mixin gradient-primary {
  background: linear-gradient(135deg, $color-primary 0%, $color-secondary 100%);
}

