@use "variables" as *;
@use "mixins" as *;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;

  .auth-links {
        a { 
            line-height: 0.3rem;
        }
    }
}

.login-container {
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;


  .login-left {
    background: linear-gradient(45deg, $color-primary, $color-secondary);
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .login-right {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}



@media (max-width: 768px) {
  .login-container { grid-template-columns: 1fr; margin: 20px; }
  .login-left { padding: 2rem; }
  .login-right { padding: 2rem; }
  .login-left h1 { font-size: 2rem; }
  .form-row { grid-template-columns: 1fr; gap: 0; }
}