@use "variables" with (
  $color-primary: #687ac9,
  $color-secondary: #274684,
  $color-text: #d03d3d
);

@use "base";
@use "header";
@use "messages";
@use "dashboard";
@use "loaders";
@use "modales";
@use "listado";
