// Colores y tokens de diseño
$color-primary: #667eea;
$color-secondary: #764ba2;

// developers
$color-primary: #28a745;
$color-secondary: #20c997;

// backoffice
$color-primary: #dc3545;
$color-secondary: #e74c3c;

$color-text: #333;

$shadow-soft: 0 5px 15px rgba(0,0,0,.1);
$radius: 10px;
$max-width: 1200px;
